%h1 All albums here below
- @albums.each do |album|
  
  %h2= album.title
  %p
    = image_tag album.image.url(:medium)
    = album.artist
    = link_to 'View details', album

%br

= link_to 'Add Album', new_album_path
