%h1 All albums here below
- @albums.each do |album|

  %h2= album.title
  %div
  .col-sm-4.col-md-3
    = link_to (image_tag album.image.url(:medium), class: 'image'), album

    %br
    %p
    = album.artist
    \|
    = 'Add a review'

%br

= link_to 'Add Album', new_album_path
