%h1 All albums here below
- @albums.each do |album|
  %h2= album.title
  %div
  .col-sm-4.col-md-3
    = link_to (image_tag album.image.url(:medium), class: 'image'), album

    %br
    %p
    = album.artist
    \|
    = link_to 'Add a review', new_album_review_path(album)
    
%br

= link_to "Add an album", new_album_path, class: "btn btn-danger"

