
%p
  %b Title:
  = @album.title
%p
  %b Description:
  = @album.description
%p
  %b Artist:
  = @album.artist
%p
  %b Year:
  = @album.year


= link_to 'Back', albums_path
  - if user_signed_in?
    - if @album.user_id == current_user.id

    = link_to 'Edit', edit_album_path(@album)
    %br
    = link_to 'Destroy', @album, method: :delete, data: { confirm: 'Are you sure?' } 
    %br