/form to fill out a review and jquery allowing stars from 1-5 being in picture format, making it easier for users to rate rather than in numbers
= form_for [@album, @review] do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :stars
    #star-rating
  .field
    = f.label :thoughts
    = f.text_area :thoughts
  .actions
    = f.submit 'Save'


:javascript
  $('#star-rating').raty({
  path: '/assets/',
  scoreName: 'review[stars]'
  });
