%p#notice= notice

%p
  %b Stars:
  = @review.stars
%p
  %b Thoughts:
  = @review.thoughts

%p
  %b Reviewer email
  = @review.user.email

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
